.content {
    text-align: center;
}

.banner {
    border: 1px solid black;
    border-radius: 10px;
    background: #E3E8FA;
}

.logout {
    position: relative;
    top: -45px;
    right: 20px;
    float: right;
}
.station {
    border: 1px solid black;
    border-radius: 5px;
}
