.content {
    text-align: center;
}

.banner {
    border: 1px solid black;
    border-radius: 10px;
    background: #E3E8FA;
}

.home_logout {
    position: relative;
    top: -45px;
    right: 20px;
    float: right;
}