.banner {
    border: 3px solid #C1CDCD;
    border-radius: 10px;
    background: linear-gradient(to left, #EBDDE2, #DDDDDD);
    position: relative;
    left: 30px;
    width: 400px;
    height: 75px;
}

.banner h2 {
    text-align: center;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    color: #8C489F;
}

.logout_button {
    position: relative;
    top: -64px;
    left: 30px;
}

.station {
    border: 2px solid #DDEAD9;
    border-radius: 5px;
    width: 400px;
    margin-top: 5px;
    background: linear-gradient(to left, #C0D9B9, #FFFFFF);
}

.station:hover {
    border: 2px solid #C0D9C9;
}

.station_name {
    color: #8C489F;
    position: relative;
    left: 20px;
}

.change_station {
    position: relative;
    right: -330px;
    top: -15px;
}

.current_user {
    position: relative;
    text-align: center;
    font-size: 80%;
    font-weight: bold;
    top: -15px;
}

.station_id {
    position: relative;
    top: -20px;
}

.email_input {
    position: relative;
    left: 10em;
    top: 1em;
}

.password_input {
    position: relative;
    left: 10em;
    top: 1.1em;
}

.login_button {
    position: relative;
    top: 1.1em;
    left: 13em;
}

.auth_error {
    color: red;
    position: relative;
    top: .5em;
    left: 12em;
}